/* DigitalClock.css */

.digital-clock {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: black;

  >.colon {
    color: rgb(57, 120, 149);  /* Farbe der Doppelpunkte anpassen */
    font-size: 60px; /* Größe der Doppelpunkte anpassen */
    background-color: black;
  }

  >.segment{ 
    max-width:5rem;
  }

  .path5709{
    fill: rgb(57, 120, 149);  
  }
}