/* DigitalClock.css */
.active{
  background-color: rgb(202, 105, 8);
}

.digital-clock {
  display: flex;
  justify-content: stretch;
  background-color: black;
}

.bcd-number {
  display: flex;
}

.colon {
  padding-top: 3rem;
  color: rgb(66, 149, 57);  /* Farbe der Doppelpunkte anpassen */
  font-size: 140px; /* Größe der Doppelpunkte anpassen */
  background-color: black;
  line-height: 24px;

}

.segment{
  max-height: 9rem;
}
