/* ProgressBar.css */

.progress-bar {
  height: 20px;
  border:1px solid rgb(95, 94, 94);
  border-radius: 10px;
  transition: width 0.5s;
  width: 100%;
  background-color: rgb(87, 195, 245);
}
  
  .progress-row {
    background-color: rgb(245, 179, 114);
    height:80px;
    color:#2a0101
  }
  
  .progress {
    height: 100%;
    background-color: rgb(4, 99, 4);
    border-radius: 10px 0 0 10px;
    border-right: 1px solid rgb(2, 48, 2);
  }
  
  .progress-label {
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: rgb(4, 99, 4);
  }