/* App.css */
 
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th,
td {
  border: 1px solid #151515;
  padding: 8px;
}

thead {
  color:rgb(181, 123, 8);
  background-color: #252424;
  font-size: larger;
}

.clock {
  text-align: center;
  margin-bottom: 16px;
}

.clock h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.clock h3 {
  font-size: 18px;
  margin: 0;
}

.progress-bar {
  height: 20px;
  border:1px solid rgb(95, 94, 94);
  border-radius: 10px;
  transition: width 0.5s;
  width: 100%;
  background-color: rgb(87, 195, 245);
}


/* App.css */

.progress-row {
  background-color: rgb(245, 179, 114);
  height:80px;
  color:#2a0101
}

.progress {
  height: 100%;
  background-color: rgb(4, 99, 4);
  border-radius: 10px 0 0 10px;
  border-right: 1px solid rgb(2, 48, 2);
}

.progress-label {
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  color: rgb(4, 99, 4);
}

.past{
  background-color:rgb(33, 75, 45);
  color:#909f5b
}

.future{
  background-color:rgb(70, 3, 3);
  color:#d68787
}

.active{
  background-color: rgb(245, 179, 114);
  color:#2a0101;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
}


