/* DigitalClock.css */
.active{
  background-color: rgb(202, 105, 8);
}
.digital-clock {
  display: flex;
  width: 1000px;
  height: 250px; 
}

.clock-display{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.digit-container{
  z-index: 100;
}

.bcd-number {
  display: flex;
}

.colon {
  color: rgb(255, 68, 0); /* Farbe der Doppelpunkte anpassen */
  font-size: 140px; /* Größe der Doppelpunkte anpassen */
  margin: 0 10px; /* Abstand zwischen den Segmenten und Doppelpunkten */
}
